<div class="wrapper add-task">
	<ng-container>
		<form action="" [formGroup]="taskForm" class="form">
			<h2>{{ isEdit ? "Edit task" : "Add task" }}</h2>
			<mat-form-field>
				<mat-label>Title</mat-label>
				<input matInput formControlName="title" />
			</mat-form-field>
			<mat-form-field>
				<mat-label>Name</mat-label>
				<input matInput formControlName="name" />
			</mat-form-field>
			<mat-form-field>
				<mat-label>Deadline</mat-label>
				<input matInput [matDatepicker]="picker" formControlName="deadline" />
				<mat-hint>MM/DD/YYYY</mat-hint>
				<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Priority</mat-label>
				<mat-select formControlName="priority">
					<mat-option [value]="'high'">High</mat-option>
					<mat-option [value]="'medium'">Medium</mat-option>
					<mat-option [value]="'low'">Low</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Status</mat-label>
				<mat-select formControlName="status">
					<mat-option [value]="'completed'">Completed</mat-option>
					<mat-option [value]="'doing'">Doing</mat-option>
					<mat-option [value]="'toDo'">ToDo</mat-option>
					<mat-option [value]="'upcoming'">Upcoming</mat-option>
				</mat-select>
			</mat-form-field>
			<section class="example-section" [formGroup]="employeesForm">
				<h4>Select employees for task</h4>
				<p *ngFor="let employee of employees">
					<mat-checkbox [formControlName]="employee.name">{{
						employee.name
					}}</mat-checkbox>
				</p>
			</section>
			<button *ngIf="!isEdit" mat-raised-button color="accent" (click)="addForm()">
				Add
			</button>
			<div class = "edit-buttons-block" *ngIf="isEdit" >
				<button mat-raised-button color="accent" (click)="editForm()">
					Save
				</button>
				<button mat-raised-button color="accent" (click)="addForm()">
					Delete
				</button>
			</div>
		</form>
	</ng-container>
</div>
